{% extends 'base.html.twig' %}
{% block body %}
    <h1>New Samuel L jackson movie<}}">back to list</a>
    {{ include('movie/_form.html.twig') }}
    {{ quote }}
    {{ quote|upper }}
    Today is {{ 'now'|date('Y-m-d') }}
{% endblock %}